    window-rule {
        geometry-corner-radius 15 // Set every window radius to 20
        clip-to-geometry true
    }

    // Floating Noctalia settings window.
    window-rule {
        match app-id="dev.noctalia.Noctalia"
	open-floating true
	default-column-width { fixed 1080; }
	default-window-height { fixed 920; }
    }

    layer-rule {
        match namespace="^noctalia-wallpaper"
        place-within-backdrop true
    }
    
    // Set transparent workspace background color so the backdrop is visible at all times.
    layout {
        background-color "transparent"
    }

    // Optionally, disable workspace shadows in the overview.
    overview {
        // Choose your favorite color.
        backdrop-color "#26233a"
    }

